.CardCliente {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "detalhes user btn";
    padding: 40px;
    border-bottom: 1px solid black;
}

.CardCliente_Detalhes {
    grid-area: detalhes;
}

.CardCliente_Info {
    grid-area: user;
}

.CardCliente_Botao {
    grid-area: btn;
}