.NavBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo pesquisa icones";
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
  justify-self: center;
  align-items: center;
  position: sticky;
  width: 100vw;
  column-gap: 0.6rem;
}

.Pesquisa_searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: pesquisa;
  position: relative;
  border-radius: 5px;
  height: 1.4rem;
  width: 100%;
  border: 0.5px solid #49494928;
  padding: 1.3rem;
}

.Pesquisa_searchBar:hover {
  background-color: #49494918;
}

.Pesquisa_searchImg {
  display: none;
}

.Logo_nome {
  grid-area: logo;
  font-size: 2rem;
  padding: 0 15px;
  font-family: Montserrat-M;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#icons ul {
  display: flex;
  justify-content: center;
  grid-area: icones;
  align-items: center;
  list-style-type: none;
}

#icons img {
  min-width: 20px;
  max-height: 30px;
}

li > span {
  font-size: 0.8rem;
}

.Icon_user img {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Icon_DropdownMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.Icon_DropdownMenu li {
  display: none;
  background-color: #f1f1f1;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Icon_DropdownMenu a {
  font-family: Montserrat-M;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.Icon_DropdownMenu > a:hover {
  background-color: rgba(14, 13, 13, 0.315);
}

.Icon_user:hover > .Icon_DropdownMenu li {
  display: block;
  transform: translate(0, 0);
  opacity: 1;
}

.Icon_DropdownMenu a:hover {
  color: #e5153b;
}

.Icon_favoritos {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.Icon_bag {
  margin: 0.5rem;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Icon_bagNum {
  position: absolute;
  top: -8px;
  right: -10px;
  z-index: 1;
  display: flex;
  background-color: #e5153b;
  padding: 0.25rem;
  border-radius: 50%;
}

.Icon_bagItem {
  min-width: 0.8rem;
  max-height: 0.8rem;
  display: flex;
  justify-content: space-around;
  color: rgb(255, 254, 254);
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.products_search_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-top: 1rem;
  margin: 0;
  position: relative;
}

.Pesquisa_navbarlist {
  color: #e5153b;
  display: none;
}

.Pesquisa_cardProduct {
  color: #e5153b;
  display: block;
}

.Pesquisa_Navbarlist_ul {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Pesquisa_searchImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .Pesquisa_searchImg img {
    min-width: 20px;
    max-height: 30px;
    position: relative;
  }

  .Pesquisa_searchImg span {
    font-family: Montserrat-M;
    font-size: 0.8rem;
  }

  .Pesquisa_searchBar {
    display: none;
  }

  .Pesquisa_searchBar_expanded {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 1.4rem;
    width: 100%;
    border: 0.5px solid #49494928;
    padding: 1.3rem;
    position: absolute;
    top: 77px;
    left: 0;
  }

  .Pesquisa_navbarlist {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
  }

  .Pesquisa_Navbarlist_ul {
    display: block;
    width: 350px;
    text-decoration: none;
    list-style-type: none;
  }

  .Pesquisa_Navbarlist_ul li {
    padding: 0.6rem;
    border-bottom: 1px solid #49494929;
    text-align: justify;
    font-family: Montserrat-M;
  }

  .Pesquisa_Navbarlist_ul li:hover {
    color: #e5153b;
  }

  .Pesquisa_cardProduct {
    display: none;
  }

  .Icon_DropdownMenu {
    z-index: 7;
  }

  .Icon_bagNum {
    right: -8px;
  }
}
